.ck-button-action, a.ck-button-action {
  background: #369a92!important;
  border-color: #369a92!important;
}

.ck-button-action:hover, a.ck-button-action:hover {
  background: #018077 !important;
  border-color: #018077 !important;
}

.ck-button {
  cursor: pointer;
}
